intel-extension-for-transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu
datasets
accelerate
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/cpu/us/
intel-extension-for-pytorch==2.1.0+cpu
neural_speed